@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&display=swap');
$bodyfont: 'Quicksand', sans-serif;
$headings: 'Hanalei Fill', cursive;
$darkcolor: #0a0809;
$lightcolor: #9f899f;

p {
  margin: 1.8em;
  line-height: 1.8em;
  display: flex;
  font-family: $bodyfont;
  color: $darkcolor;
}

h1 {
  font-family: $headings;
}

h2 {
  font-size: 1.25em;
  font-family: $headings;
}

.lighten {
  color: $lightcolor;
}

.center {
  text-align: center;
  font-family: $headings;
}

h3 {
  text-align: center;
  font-family: $headings;
}

footer,
header {
  text-align: center;
}

.container {
  // background-color: #e5cfa0;
  padding-bottom: 200px;
  padding-top: 100px;
  background: linear-gradient(#e5cfa0, #3f395d);
  // linear-gradient(180deg, #e5cfa0 50%, #3f395d 50%);
}

figure {
  // display: flex;
  margin: 25px;
}

img {
  max-width: 70%;
  max-height: 50%;
}

figcaption {
  text-align: left;
  font-size: 1em;
  font-family: $bodyfont;
}

.subheading {
  text-align: center;
}