p {
  margin: 1.8em 0;
  line-height: 1.8em;
}

h2 {
  font-size: 1.25em;
}
// aside,
// footer,
// header,
// main,
// nav {
//   padding: 1.5em;
//   border: 1px black solid;
// }

footer,
header {
  text-align: center;
}

.container {
  //   max-width: 1200px;
  //   margin: 0 auto;
  //   background: rgb(175, 222, 176);
  // display: grid;
  //   width: 100vw;
  //   height: 100vh;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  // grid-template-areas: "heady heady heady" ". navvy ." "aside1 mainy aside2" "aside1 mainy aside2" "aside1 mainy aside2" "footy footy footy";
}

figure {
  // display: flex;
  margin: 25px;
}

img {
  max-width: 70%;
  max-height: 50%;
}

figcaption {
  text-align: left;
  font-size: 1em;
}

.subheading {
  text-align: center;
}

header {
  grid-area: heady;
  // backsground: rgb(254, 218, 175);
}

nav {
  grid-area: navvy;
  // background: rgb(232, 206, 236);
}

main {
  grid-area: mainy;
  // background: rgb(240, 234, 182);
  max-height: 100%;
}

#aside1 {
  grid-area: aside1;
  // background: rgb(241, 202, 174);
}

#aside2 {
  grid-area: aside2;
  // background: rgb(191, 226, 246);
}

footer {
  grid-area: footy;
  // background: rgb(171, 171, 171);
}

nav ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

nav ul li {
  list-style: none;
}
@media screen and (min-width: 641px) and (max-width: 900px) {
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "heady heady" "navvy navvy" "mainy mainy" "aside1 aside2" "footy footy";
  }
}
@media screen and (max-width: 640px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas: "heady" "mainy" "aside1" "aside2" "navvy" "footy";
  }

  nav ul {
    flex-flow: column nowrap;
    text-align: center;
  }

  nav ul li a {
    display: block;
    padding: 10px 5px;
    margin: 5px;
    border: 1px black solid;
    background: white;
  }
}