@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600&display=swap');
$bodyfont: 'Quicksand', sans-serif;

p {
  margin: 1.8em;
  line-height: 1.8em;
  display: flex;
  font-family: $bodyfont;
}

h2 {
  font-size: 1.25em;
}

h3 {
  text-align: center;
}

footer,
header {
  text-align: center;
}

.container {
  background: #e5cfa0;
}

figure {
  // display: flex;
  margin: 25px;
}

img {
  max-width: 70%;
  max-height: 50%;
}

figcaption {
  text-align: left;
  font-size: 1em;
  font-family: $bodyfont;
}

.subheading {
  text-align: center;
}